/* purgecss start ignore */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url(/Montserrat-400.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url(/Montserrat-500.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url(/Montserrat-600.woff2) format("woff2");
}

@tailwind base;

*,
::before,
::after {
  @apply border-accent;
}
/* purgecss end ignore */

@tailwind components;

/* purgecss start ignore */
.btn {
  @apply font-semibold py-3 px-6 leading-snug rounded transition-colors duration-200 border-2;
}
.btn:focus {
  @apply outline-none shadow-outline;
}
.btn:disabled {
  @apply cursor-not-allowed opacity-50;
}

.btn-primary {
  @apply bg-primary-500 text-secondary-500 border-primary-500;
}
.btn-primary:hover:enabled {
}

.btn-secondary {
  @apply bg-secondary-500 text-white border-secondary-500;
}
.btn-secondary:hover:enabled {
}

.btn-tertiary {
  @apply text-white border-transparent;
  background-color: rgba(255, 255, 255, 0.2);
}
.btn-tertiary:hover:enabled {
}

.btn-invert {
  @apply bg-white text-secondary-500;
}
.btn-invert:hover:enabled {
}

.divider {
  @apply w-full h-px bg-accent;
}

/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */
[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.66);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: auto;
}

[data-reach-dialog-content] {
  @apply px-4 py-6 rounded bg-white max-w-md mx-auto outline-none self-end mb-6;
}
@media (width >= 640px) {
  [data-reach-dialog-content] {
    @apply px-6 py-8 self-start mb-0;
    margin-top: 20vh;
  }
}
/* purgecss end ignore */
