.addressInput {
  min-height: 114px;
}

.ensIconValid path {
  fill: #3b82f6;
}

.ensIconError path {
  fill: #ef4444;
}

.loadingSpinner svg {
  border-radius: 100%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(7px);
}
