.outterCard {
  padding: 6px 12px !important;
  background-color: #fafaf9 !important;
}

.innerCard {
  cursor: pointer;
}

.innerCard button svg path {
  fill: #d6d3d1;
}

.innerCard:hover {
  background-color: #fafaf9;
  border: 1px solid #f5f5f4;
}

.innerCard:hover button svg path,
.innerCard:active button svg path {
  fill: #78716c;
}

.innerCard:active {
  background-color: #f5f5f4;
  border: 1px solid #e7e5e4;
}
