@media screen and (max-width: 600px) {
  .vouchStakeCardInner {
    flex-direction: column !important;
    align-items: center !important;
  }

  .circleProgress {
    margin-top: 0 !important;
  }
}

.vouchStakeCard .card--blue {
  max-width: unset;
}
