.miniProgressListWrapper {
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  z-index: 9999;
}

@media screen and (max-width: 600px) {
  .miniProgressListWrapper {
    display: flex;
  }
}
