.home {
  padding: 0 10px;
  overflow: hidden;
}

.home-wrapper {
  max-width: 920px;
}

.home-wrapper .home-wrapper {
  max-width: 605px;
}

.home .card {
  text-align: center;
}

.home .main-page-footer {
  width: 95%;
  max-width: 954px;
  margin: 0 auto;
}

.home header {
  padding: 43px 14px;
}

.home .main-page-logo,
.home .footer-logo {
  width: 40px;
  margin: 0 auto;
}

.home .home-nav {
  display: flex;
  align-items: center;
}

.home .main-page-footer img {
  display: block;
  margin: 0 auto;
}

.home footer {
  background-color: #fafaf9;
  padding: 64px 0;
  margin-top: 96px;
}

.home .footer-nav {
  text-align: center;
}

.home .footer-nav:nth-of-type(3) .footer-nav-item {
  color: #c4c4c4;
}

.home .footer-nav-item {
  display: inline-block;
  margin: 0 32px;
  margin-top: 24px;
  font-size: 13px;
  color: #565461;
}

.home img {
  width: 100%;
}
