@import "union-ui/lib";

body {
  background-color: #fbfbfb;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.footer {
  width: 100%;
  margin-top: auto;
}

.footer .text {
  position: relative;
  padding-left: 10px;
}

.footer .text:not(:first-of-type):before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: #565461;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

